table
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}

body
{
    font-family: 'Montserrat', sans-serif;
}

#main
{
    position: absolute;
    top: -15%;
    left: 57%;
    transform: translate(-50%, 50%);
    height: 500px;
    width: 500px;
    padding: 200px 50px 0 50px;
}

#main2
{
    position: absolute;
    top: -10%;
    left: 55%;
    transform: translate(-50%, 50%);
    height: 500px;
    width: 1000px;
}

#titel
{
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, 50%);
}