#main
{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
    background-color: white;
}

#footer
{
    top: 60%;
    position: absolute;
}
