#main
{
    position: absolute;
    top: -30%;
    left: 60%;
    transform: translate(-50%, 50%);
}

table
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.bold
{
    font-weight: 900;
    margin-right: 50px;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

input, textarea, select
{
    border: 1px solid black;
    background-color: transparent;
    color: #000000;
}