#main
{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 55%;
    background-color: #ffffff;
    height: 400px;
    width: 500px;
    padding-left: 80px;
    padding-top: 120px;
}
