
#homebutton
{
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: 92%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

body{
    background-image: url("./Images/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#Taken
{
    height: 500px;
    width: 550px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 56%;
    left: 58%;
}

#Taak2
{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 20%;
    left: 50%;
}

#Taak3
{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 50%;
}

#taak2
{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 35%;
    left: 50%;
    width: 350px;
}

#taak3
{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 70%;
    left: 50%;
    width: 350px;
}

h3
{
    font-weight: 600;
}