#main
{
    height: 500px;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 200px 100px 120px 120px;
}
