#main
{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 40px;
}