table,tr,td
{
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translate(-50%, 50%);
    width: 50%;

}

.bold
{
    font-weight: 900;
}

body
{
    font-family: 'Montserrat', sans-serif;
}