#main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
