#footer
{
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
    z-index: 100;
    color: black;
    font-weight: 900;

}

body
{
    font-family: 'Montserrat', sans-serif;
}