*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Montserrat', sans-serif;
}

#main
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

input[type = "submit"]
{
    border: none;
    padding: 10px 25px;
    background-color: #0081ff;
    border-radius: 20px;
    margin-top: 55px;
    color: white;
    transition: 300ms;
    cursor: pointer;
}

input[type = "submit"]:hover
{
    background-color: #7bb2e6;
    transition: 100ms;
}

#red
{
    display: inline-block;
    font-size: 12px;
    color: red;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#grey
{
    display: inline-block;
    font-size: 12px;
    color: #588888;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#green
{
    display: inline-block;
    font-size: 12px;
    color: green;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#welkom
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    z-index: 10;
    color: black;
}

#verboden
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    z-index: 10;
    color: black;
    font-size: 16px;
}

#links
{
    z-index: 6;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    background-color: #94cbff;
    width: 350px;
    height: 300px;
    margin: auto;
}

#links p
{
    top: 10%;
    left: 25%;
    position: relative;
}

#links h1
{
    top: 5%;
    left: 10%;
    position: relative;
}

#rechts
{
    z-index: 6;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    background-color: #92caff;
    width: 350px;
    height: 300px;
    align-content: center;
}

#rechts p
{
    top: 10%;
    left: 25%;
    position: relative;
}

#rechts h1
{
    top: 5%;
    left: 12%;
    position: relative;
}